#app
{
    width: 100%;
}
.non_img{
    padding: auto 0;
    font-size: 2em;
    text-align: center;
    font-family: cursive;
}

.bghom{
    background-image:   url("./../bghom.jpg");
}
.bghom2{
    background: #ffffffd2 !important;
    border: none;
    color: black;
}
.hello {
    color: #F64E60 !important;
    background-color: #FFE2E5 !important;
    border-color: transparent !important;
}
.hello:hover {
    color:  #FFE2E5!important;
    background-color: #F64E60 !important;
}

.hello-1 {
    color: #FFA800!important;
    background-color: #FFF4DE!important;
    border-color: transparent !important;
}
.hello-1:hover {
    color:  #FFF4DE !important;
    background-color: #FFA800 !important;
}
.hello-2 {
    color: #1BC5BD !important;
    background-color: #C9F7F5 !important;
    border-color: transparent !important;
}
.hello-2:hover {
    color:  #C9F7F5 !important;
    background-color: #1BC5BD !important;
}

.hello-3 {
    color: #8950FC !important;
    background-color: #EEE5FF !important;
    border-color: transparent !important;
}
.hello-3:hover {
    color:  #EEE5FF !important;
    background-color: #8950FC !important;
}
.newfont{
    font-size: 1.1em;
}
.anime{
    position: fixed !important;
    top: 10% !important;
    right: 1% ;
    width: 30%;
    -webkit-animation:redBox 10s  !important;
    -moz-animation: redBox 10s  !important;
    animation: redBox 10s  !important;
}
@-webkit-keyframes redBox{
    0%{
        right: -10px;
    }
    50%{
        right: 400px;
    }
    100%{
        right: 10px;
    }
}
@-moz-keyframes redBox{
    0%{
        right: -10px;
    }
    50%{
        right: 400px;
    }
    100%{
        right: 10px;
    }
}
@keyframes redBox{
    0%{
        right: -800px;
    }
    50%{
        right: 100px;
    }
    100%{
        right: 10px;
    }

}
@media only screen and (max-width:600px) {
    .anime{
        position: fixed !important;
        top: 10% !important;
        right: 1% ;
        width: 100%;
        -webkit-animation:redBox 10s  !important;
        -moz-animation: redBox 10s  !important;
        animation: redBox 10s  !important;
    }
}
